apiVersion: v1
kind: Service
metadata:
  name: victoriametrics
  namespace: monitoring
spec:
  selector:
    app: victoriametrics
  ports:
    - name: http
      port: 8428
      targetPort: http
  type: ClusterIP
