apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - pvc.yaml
  - statefulset.yaml
  - postgres-service.yaml
  - deployment.yaml
  - service.yaml
  - n8n-externalsecret.yaml
