apiVersion: v1
kind: ConfigMap
metadata:
  name: alertmanager-config
  namespace: monitoring
data:
  alertmanager.yml: |
    global:
      resolve_timeout: 5m

    templates:
      - /etc/alertmanager/templates/template.tmpl

    route:
      group_by: ['job','instance']
      group_wait: 30s
      group_interval: 5m
      repeat_interval: 1d
      receiver: default
      routes:
        - receiver: telegram-main
          matchers:
            - alertname="Validator"
            - topic="test"
          repeat_interval: 1h

        - receiver: telegram-main
          matchers:
            - severity="info"
            - topic="speedtest"
          group_wait: 30s
          group_interval: 2m
          repeat_interval: 30m

        - receiver: telegram-main
          matchers:
            - severity=~"critical|warning"
          group_wait: 1m
          group_interval: 5m
          repeat_interval: 12h

    receivers:
      - name: default
        webhook_configs: []

      - name: telegram-main
        telegram_configs:
          - bot_token_file: /etc/alertmanager/secrets/bot_token
            chat_id: -1003272665821
            parse_mode: HTML
            message: '{{ template "telegram.default.message" . }}'
